.atg{
   height:24px ;
   width:162.57px ;
   margin-left:72px ;
   margin-top:24px ; 
}
.nv{
   background-color: white;
   display: block; 
}
.frm{
   width:736px ;
   height:457px ;
}
.cancle-button{
   margin-top: -30rem;
   margin-left: -8px;
}
.first{
   height: 403px;
   width: 320px;
}