.create-act{
    margin-left: 15rem;
}

.form{
    margin-left: 16rem;
}
/* .nav{
    overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
} */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #01324E;
    color: #fff;
    height: 70px;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }

@media (max-width: 767px) {
    .create-act{
        margin-left: 0%;
    }
    .form{
        margin-left: 0rem;
    }
}