
      
      .dialog-imput{
        border-bottom: 2px solid rgb(165, 165, 165);
        height: 3rem;
        font-size: 20px;
      }
      .dialog-imput:focus {
        outline: none; 
        border-bottom: 2px solid #d8d8d8; 
      }
    
      
      /* Style the placeholder text when the input is focused */
      .dialog-imput:focus::placeholder {
        font-size: 16px; /* Set the smaller font size for the placeholder text */
      }
    
      .btn2{
        box-shadow: 2px 2px 2px 2px #c0bebe;
      }
      .cancle-btn{
        color: black;
        margin-left: 29rem;
        
      }